  <div class="container" id="submit-space">
    <h3>Submit a Challenge!</h3>
    <div class="container col col-md-8 challengePrompt">
      <form ng-model="formSubmit" class="form-horizontal" name="submitForm" ng-submit='submit()'>
        <div class = "control-group">
          <label class="control-label">Title</label>
          <input class='textInput' type="text" ng-model="submitData.title" placeholder="title" required>
          <br>
          <br>
        </div>

        <div class = "control-group">
          <label class="control-label">Prompt</label>
          <input class='textInput' type="text"  ng-model="submitData.prompt" placeholder="prompt" required>
          <br>
          <br>
        </div>

        <div class = "control-group">
          <label class="control-label">Text</label>
          <textarea class='textInput' type="text" ng-model="submitData.text" ng-change='onUpdate()' placeholder="test string" required>
          ></textarea>
          <br>
          <br>
        </div>

        <div class = "control-group">
          <label class="control-label">Difficulty</label>
          <select required class='textInput' name="difficulty" ng-model="submitData.difficulty">
            <option value="">None</option>
            <option value="easy">easy</option>
            <option value="medium" selected>medium</option>
            <option value="hard">hard</option>
          </select>
          <br>
          <br>
        </div>

        <div class = "control-group">
          <label class="control-label">Answer</label>
          <input class='textInput' type="text" ng-model="submitData.answer" ng-change='onUpdate()' placeholder="solution answer" required>
          <br>
          <br>
        </div>

        <div class = "control-group">
          <label class="control-label">Cheats</label>
          <input class='textInput' type="text" ng-model="submitData.cheats" placeholder="cheats">
          <br>
        </div>

        <!-- <button ng-if="submitData.answer" ng-click="submitExpectedController.toggle = true">Expected Matches</button> -->
        <div ng-if="submitData.answer">
            Expected match {{submitData.expected()}}
        </div>
        <button type="submit" class="btn submitButton">Submit New Challenge</button>
      </form>
    </div>
  </div>
  <div class="green-box" ng-if="submitted">
    Thanks for submitting!
  </div>
  <div class="red-box" ng-if="unsanitary">
    Please XSS other people instead.
  </div>
