input {
  margin: 5px;
}

button {
  padding: 5px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  background-color: #a8a8a8;
}


.challenge-prompt {
  border:1px solid black;
  padding: 10px 20px;
  font-size: 24px;
  background: #DDD; /* for browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #eee, #fff); /* for safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #eee, #fff); /* for opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #eee, #fff); /* for firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #EEE, #FFF); /* Standard syntax */

}

.challenge-prompt-title {
  position: relative;
  left: 50px;
  font-size: 36px;
  font-family: 'Helvetica Neue';
  color: #797;
}

.challenge-description {
  font-family: "Helvetica Neue Light";
  font-size: 24px;
  color: #555;
}

.challenge-text {
  text-align: center;

  background-color: #DDD;
  font-family: "Helvetica Neue Light";
  font-size: 24px;
  color: #444;
}

.challenge-expected-label {
  position: relative;
  left: 50px;
  color: #797;
}

.challenge-expected {
  text-align: center;
}

#regexAttempt {
  font-size: 24px;
  width: 50%;
  margin: 20px 0 20px 20px;
  color: green;
  border-style: none;
  background-color: #DDD;
  border-radius: 3px;
  text-align: center;
}

.skip-button {
  align: center;
}

.solve-form {
  text-align: center;
}

.skip-button {
  align: center;
}

.solve-form {
  text-align: center;
}

.skip-button {
  align: center;
}

.solve-form {
  text-align: center;
}

.skip-button {
  align: center;
}

.solve-form {
  text-align: center;
}

.challenge-blurb {
  width: 600px;

  border: solid 1px #282;
  background: #DDD; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #E0E8E0, #D0E8D0); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #E0E8E0, #D0E8D0); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #E0E8E0, #D0E8D0); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #E0E8E0, #D0E8D0); /* Standard syntax */

  border-radius: 3px 30px 30px 20px;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 2px  rgba(0,50,0,1);
}

.challenge-blurb:hover {
  background: #D0D8D0;
}

.challenge-blurb:active {
  background: #FFF;

}

.challenge-title {
  float: left;
  left: 50px;
}

.challenge-desc {
  text-align: center;
  down: 50px;
}

.challenge-difficulty {
  float: right;
  margin-right: 20px;
  text-align: right;
  color: #777;
}

.green-box {
  border: 1px solid green;
  background-color: #8F8;
}

.red-box {
  border: 1px solid red;
  background-color: #F88;
}

.highlighted-text {
  background-color: yellow;
  border-radius: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.2s;
  font-size: 17px;
}

nav ul li a:hover {
  background-color: #555;
  text-decoration: none;
  color: green;
}

.login-button {
  float: right;
}

.challengeBlurb:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.challengeTitle,
.challengeDesc {
  display: inline-block;
}

.challengeDesc {
  padding-left: 30px;
}

.challText {
  padding: 5px 20px;
  background-color: #ddd;
  border: 1px solid grey;
}

.minutes,
.seconds {
  font-weight: bold;
  font-size: 1.5em;
}

h1 .cute{
  color: green;
  /*color: #245fbf;*/
}

.user-options li {
  display: block;
  font-size: 18px;
  font-family: Helvetica;
  text-decoration: none;
}

.user-options li:hover {
  text-decoration: none;
  background: #DDD; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #999, #BBB); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #999, #BBB); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #999, #BBB); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #999, #BBB); /* Standard syntax */
  border-radius: 5px;
  border-style: solid 1px #555;


}

.switch {
  font-weight: bold;
  font-size:1em;
  color: #245fbf;
  cursor: pointer;
}

#login,
#solve,
#challenges {
  padding: 0 30px;
  width: auto;
}

#solve{
  width: auto;
}

#login {
  width: 400px;
}

#time-left {
  color: green;
  font-size: 28px;
  text-align: center;
  font-family: "Segment7Standard";
  background-color: #444;
}

.login-box {
  position: absolute;
  right: 8px;
  background-color: #AAA;
  opacity: 1;
  z-index: 5;
  border-radius: 0px 0px 0px 5px;

}

.login-form {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: auto;
  background-color: #e5edf9;
}

#challengesNav {
  display: inline-block;
  vertical-align: top;
  border: solid black 1px;
  border-radius: 10px;
  background-color: #333;
  padding: 20px 10px;
  width: auto;
  height: auto;
  margin: 0 15px;
}

#challengesList {
  display: inline-block;
  width: 400px;
}

#solve-nav {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: solid black 1px;
  border-radius: 10px;
  background-color: #333;
  padding: 20px 10px;
  width: auto;
  height: auto;
  margin: 0 15px;
}

#solveSpace {
  display: inline-block;
  width: 500px;
  border-radius: 5px;
}


label#difficulty {
  color: white;
  font-size: .8em;
}


/* Submit Form */

#submitSpace label {
  display:inline-block;
  width:0px;
  margin-right:30px;
  text-align:right;
}

#submitSpace {
border:none;
width:500px;
margin:0px auto;
}

.textInput {
  display: inline-block;
  width: 350px;
}