body {
  background-color: #F8F8F8;
}

input {
  margin: 5px;
  padding: 5px;
}

button {
  padding: 5px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  background-color: #a8a8a8;
}

#title a:hover {
  color: white;
}

.solve-row {
  align: center;
}

.challenge-prompt {
  box-shadow: 0px 0px 5px rgba(0,0,0,.25);
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 5px;
  /*background: #DDD;  for browsers that do not support gradients */
/*  background: -webkit-linear-gradient(left top, #eee, #fff);
  background: -o-linear-gradient(bottom right, #eee, #fff);
  background: -moz-linear-gradient(bottom right, #eee, #fff);
  background: linear-gradient(to bottom right, #EEE, #FFF); */
  background-color: #FFFFF8;

}

.challenge-prompt-title {
  position: relative;
  left: 50px;
  font-size: 36px;
  font-family: 'Helvetica Neue';
  color: #797;
}

.challenge-description {
  font-family: "Helvetica Neue Light";
  font-size: 24px;
  color: #555;
  white-space: pre-line;
}

.challenge-text {
  text-align: center;

  background-color: #DDD;
  font-family: "Helvetica Neue Light";
  font-size: 24px;
  color: #444;
}

.challenge-expected-label {
  position: relative;
  left: 50px;
  color: #797;
}

.challenge-expected {
  text-align: center;
}

#regex-attempt {
  font-size: 36px;
  width: 50%;
  margin: 20px 0 20px 20px;
  color: green;
  border-style: none;
  background-color: inherit;
  border-radius: 3px;
  text-align: center;
}

#regex-attempt:focus {
  outline: none;
}

.skip-button {
  align: center;
}

.solve-form {
  text-align: center;
}

.show-type-hint {

  text-align: center;
}

.challenge-blurb {
  /*margin: 25px;*/
/*  transition: 0.5s;*/
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
}

.challenge-blurb:hover {
  box-shadow: 0px 0px 5px rgba(0,0,0,.1);
  background-color: #FFFFF0;
}

.challenge-blurb:active {
  background: #FFF;

}

.challenge-blurb-title {
  font-family: "Helvetica";
  float: left;
  margin-left: 30px;
  color: #777;
  font-weight: bold;
  margin-left: 20px;
  font-size: 2em;
}

.challenge-blurb-desc {
  font-family: "Helvetica Neue";
  text-align: left;
  down: 50px;
}

.challenge-blurb-difficulty {
  font-family: "Helvetica Neue";
  margin-left: 30px;
  margin-top: 20px;
  color: #777;
  font-weight: bold;
  margin-bottom: 15px;
}

.easy {
  color: #6A6;
}

.medium {
  color: #BB2;
}

.hard {
  color: #A66;
}

.challenge-blurb-prompt {
  font-family: "Helvetica Neue";
  font-size: 14px;
  text-align: 30%;
  color: #BBB;
  margin-bottom: 5px;
}

.challenge-blurb-solution {
  color: green;
  font-size: 1.5em;
  text-align: center;
}

.challenge-blurb-solution-title {
  text-align: center;
}

.challenge-burb-time {
  font-family: Arial sans-serif;
  color: #666;
  text-align: center;
}

.green-box {
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
  background-color: #BDB;
  text-align: center;
}

.red-box {
  border-radius: 5px;
  background-color: #FFF0f0;
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
  text-align: center;
}

.highlighted-text {
  background-color: yellow;
  border-radius: 5px;
}

nav {
  background-color: #777;
  box-shadow: 0px 5px 5px rgba(0,0,0,.27);
  z-index: 9999;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
  float: left;
  transition: .2s;
}

nav a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 2px;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;;
  color: #DDD;
}

.nav-button {
  transition: .2s;
}

li.login-button {
  float: right;
  transition: 0s!important;
}

nav a:hover {
  text-decoration: none;
  color: #FFF;
}

nav a:focus {
  text-decoration: none;
  color: #FFF;
}

.fade {
  transition: all linear 2s;
  opacity: .4;
  font-family: "Helvetica Neue";
  font-size: 18px;
}

.fade.ng-enter {
  opacity: 0;
}

.fade.ng-enter-active{
  opacity: .4;
}

.fade.ng-leave-active {
  opacity: 0;
}

.fade-fast {
  transition: all linear .05s;
  opacity: 1;
}

.fade-medium {
  transition: all linear .1s;
  opacity: 1;
}

.fade-slow {
  transition: all linear .5s;
  opacity: 1;
}

.challengeBlurb:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.challengeTitle,
.challengeDesc {
  display: inline-block;
}

.challengeDesc {
  padding-left: 30px;
}

.challText {
  padding: 5px 20px;
  background-color: #ddd;
  border: 1px solid grey;
}

.minutes,
.seconds {
  font-weight: bold;
  font-size: 1.5em;
}

#title {
  text-align: center;
  margin-left: 30%;
  color: #DDD;
}

#title a {
  padding-top: 10px;
  padding-bottom: 0px;
  font: 400 28px/1.3 'Oleo Script', Helvetica, sans-serif;
  color: #EEE;
  cursor: pointer;
}

.user-options {
}

.user-options li {
  display: block;
  font-size: 18px;
  font-family: "Helvetica Neue";
  text-decoration: none;
  color: #666;
  margin-right: 30px;
  text-align: right;
  margin: 15px;
}

.user-options a {
  color: #666;
  cursor: pointer;
}

.user-options a:hover {
  text-decoration: none;
  color: #444
}

.user-options li:first-of-type {
  margin-top: 15px;
}

.user-options li:last-of-type {
  margin-bottom: 15px;
}

.switch {
  font-weight: bold;
  font-size:1em;
  color: #245fbf;
  cursor: pointer;
}

#solve {
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  z-index: -11;
  width: 50%;
  background-color: #FFFFF8;
  box-shadow: 0px 0px 5px rgba(0,0,0,.25);
}

#challenges {
  max-width: 1200px;
  margin: auto;
  margin-top: 0px;
  z-index: -11;
  width: 50%;
  margin-top: 30px;
  z-index: -999;
  /*width: auto;*/
}

#profile {
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  z-index: -11;
  width: 50%;
  margin: auto;
  background-color: #FFFFF8;
  box-shadow: 0px 0px 5px rgba(0,0,0,.25);
}

.stats-title {
  margin-left: 20px;
}

#login {
  width: 400px;
}

#time-left {
  color: #B55;
  font-size: 28px;
  text-align: center;
  font-family: "Segment7Standard";
  background-color: #444;
  padding-top: 5px;
  border-radius: 5px;
}

.login-box {
  position: absolute;
  right: 0px;
  background-color: #DDD;
  opacity: 1;
  z-index: 5;
  border-radius: 0px 0px 0px 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

.login-form {
  padding: 10px 20px;
  border-radius: 5px;
  width: auto;
}

#login h1{
  color: white;
}

#challenges-nav {
  /*display: inline-block;*/
  /*vertical-align: top;*/
  background-color: #FFFFF8;
  /*width: 200px;*/
  /*height: auto;*/
}

#challenges-list {
  margin-bottom: 50px;
  border-radius: 5px;
  padding-left: 0px;
  padding-right: 0px;
  /*display: inline-block;*/
  /*width: 400px;*/
}

.challenge-container {
  background-color: #FFFFF8;
  box-shadow: 0px 0px 5px rgba(0,0,0,.25);
}

.challenge-options {
  position: fixed;
  left: 0px;
  top: 10%;
  box-shadow: 0 0 5px rgba(0,0,0,.25);
  width: 200px;
}

hr {
  margin: 0px 15px 0px 15px;
}

#solve-nav {
  position: absolute;
  top: 55px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0,0,0,.35);
  border-radius: 5px;
  background-color: #DDD;
  padding: 20px 30px;
  width: auto;
  height: auto;
  margin: 0px;
  z-index: 1;
}

#solve-space {
  display: inline-block;
  width: 500px;
  border-radius: 5px;
}

.submit-button {
  position: absolute;
  bottom: inherit;
}

label#difficulty {
  color: #333;
  align: center;
  font-size: 1em;
}


.showing-solution {
  background-color: #F2F2F2;
  box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}

/* Submit Form */

#submit-space label {
  display:inline-block;
  width:0px;
  margin-right:30px;
  text-align:right;
  color: #797;
}

#submit-space {
  width:40%;
  margin: auto;
  margin-top: 30px;
  box-shadow: 0px 0px 5px rgba(0,0,0,.25);
  background-color: #FFFFF8;
  vertical-align: top;
  text-align: left;
/*  border: solid black 1px;*/
  border-radius: 5px;
  padding: 20px 10px;
  /*width: auto;*/
  height: auto;
}

textarea {
  resize: vertical;
}

.textInput {
  display: inline-block;
  /*width: 350px;*/
  float:right;
  width: 100%;
}

.submitButton {
  float: right;
  border-radius: 10px:
  border-color: grey;
}

.form-horizontal{
  float: center;
}

.control-label {
  color: green;
}

select {
  color: black;
  font-weight: 400;
}
