.challengePrompt {
  width:400px;
  border:1px solid black;
  padding: 10px 20px;
}

#regexAttempt {
  font-size: 16px;
  width:300px;
  margin: 20px 0 20px 20px;
}

.challengeBlurb {
  border: 1px solid black;
  padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

nav ul li a:hover {
  background-color: #555;
}

.challengeBlurb:hover {
  background-color: #eeeeee;
  cursor: pointer;

}

.challengeTitle,
.challengeDesc {
  display: inline-block;
}

.challengeDesc {
  padding-left: 30px;
}

.challText {
  padding: 5px 20px;
  background-color: #ddd;
  border: 1px solid grey;
}

.minutes,
.seconds {
  font-weight: bold;
  font-size: 1.5em;
}

h1 .cute{
  color: #245fbf;
}
