input {
  margin: 5px;
}

button {
  padding: 5px;
  border-radius: 3px;
}

button:hover {
  cursor: pointer;
  background-color: #a8a8a8;
}


.challengePrompt {
  width:400px;
  border:1px solid black;
  padding: 10px 20px;
}

#regexAttempt {
  font-size: 16px;
  width:300px;
  margin: 20px 0 20px 20px;
}

.challengeBlurb {
  border: 1px solid black;
  padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

nav ul li a:hover {
  background-color: #555;
}

.login-button {
  float: right;
}

.challengeBlurb:hover {
  background-color: #eeeeee;
  cursor: pointer;

}

.challengeTitle,
.challengeDesc {
  display: inline-block;
}

.challengeDesc {
  padding-left: 30px;
}

.challText {
  padding: 5px 20px;
  background-color: #ddd;
  border: 1px solid grey;
}

.minutes,
.seconds {
  font-weight: bold;
  font-size: 1.5em;
}

h1 .cute{
  color: #245fbf;
}

.switch {
  font-weight: bold;
  font-size:1em;
  color: #245fbf;
  cursor: pointer;
}

#login,
#solve,
#challenges {
  padding: 0 30px;
  width: auto;
}

#solve{
  width: auto;
}

#login {
  width: 400px;
}

.login-box {
  position: absolute;
  right: 8px;
  background-color: #AAA;
}

.login-form {
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  width: auto;
  background-color: #e5edf9;
}

#challengesNav {
  display: inline-block;
  vertical-align: top;
  border: solid black 1px;
  border-radius: 10px;
  background-color: #333;
  padding: 20px 10px;
  width: auto;
  height: auto;
}



#challengesList {
  display: inline-block;
  width: 400px;
}

label#difficulty {
  color: white;
  font-size: .8em;
}
