<div id='challenges'>
  <h1>Choose your challenge!</h1>
  <hr>
  <div class="row">
    <div class="col col-md-4" id="challengesNav">
      <label id="difficulty">Choose difficulty:
        <br>
        <select name="difficulty" id="difficulty" ng-model="difficulty" ng-change="getAllChallenges()">
          <option value="easy">easy</option>
          <option value="medium" selected>medium</option>
          <option value="hard">hard</option>
          <option value="mega hard">mega hard</option>
        </select>
      </label>
    </div>
    <div class="col col-md-8" id="challengesList">
      <div ng-repeat="challenge in challengeList" class="container challenge-blurb" ng-click="getChallenge(challenge)">
        <div class="container">
          <h3 class="challenge-title">{{challenge.title}}</h3>
          <p class="challenge-difficulty"><br>{{challenge.difficulty}}</p>

        </div>
        <p class="challenge-desc">{{challenge.prompt}}</p>
      </div>
    </div>
  </div>
</div>
