<div id='login' ng-controller='LoginController'>

  <div ng-show='!loggedin' class="login-form">
    <form name="loginForm" ng-submit='submit()'>
      <label>Username:
        <input type='text' ng-model='user.username'>
      </label>
      <br>
      <label>Password:
        <input type="password" ng-model='user.password'>
      </label>
      <br>
      <button>{{actionTitle}}</button>
    </form>
  </div>
  <p ng-show='loginFailed && showLogin' class='red-box'>Login Failed--No account? <span class="switch" ng-click="seeSignup()">Sign up!</span>
  </p>
  <p ng-show='loginFailed && showSignup' class='red-box'>Username Exists--Is it you? <span class="switch" ng-click="seeLogin()">Log in!</span>
  </p>
  <p ng-show="showLogin && !loginFailed">Don't have an account? <span class="switch" ng-click="seeSignup()">Sign up!</span> </p>
  <p ng-show="showSignup && !loginFailed">Already have an account? <span class="switch" ng-click="seeLogin()">Log in!</span> </p>
</div>
