<div id='solve'>
  <h1>{{ username }}'s Stats</h1>
  <hr>
  <h2>Solved Problems</h2>
  <div class='solutions view'>
  	<!-- <button ng-click='show()'>Show Challenges</button> -->
  	<div class='container challenge-blurb' ng-click='show=!show' ng-repeat='challenge in user.challenges'>
  		<div id='problem'>
	 			<div class='challengeTitle'><h3>Title: {{challenge.challenge.title}}</h3></div>
	 			<div class='challengeDesc'>Prompt: {{challenge.challenge.prompt}}</div>
	 			<div>Difficulty: {{challenge.challenge.difficulty}}</div>
	 		</div>
	 			<div class='solution' ng-hide='show'>
	 				Solution: {{challenge.solution.solution}}
          <br>
          Time: {{$scope.timeString(challenge.solution.timeToSolve)}}
	 			</div>
  	</div>
  </div>
</div>
