<nav>
    <ul>
        <li><a ui-sref="solve">Solve</a></li>
        <li><a ui-sref="challenges">Challenges</a></li>
        <li><a ui-sref="submit">Submit</a></li>
        <li ng-click="showDropdown = !showDropdown" class="login-button">
          <a ng-if="!loggedIn" ui-sref=".login">Login</a>
          <a ng-if="loggedIn" ui-sref=".useroptions">{{username}}</a>
        </li>
        <li class="login-button"><a ng-click="loggedIn = !loggedIn">Fake Cheaty Login Button</a></li>
    </ul>
</nav>

<div ui-view ng-if="showDropdown" class="login-box"></div>
