<div id='solve'>
  <h1>Solve</h1>
  <hr>
  <div class="row">
    <div class="col col-md-4" id="solveNav">
      <label id="difficulty">Choose difficulty:
        <br>
        <select name="difficulty" id="difficulty" ng-model="difficulty" ng-change="getAllChallenges()">
          <option value="easy">easy</option>
          <option value="medium" selected>medium</option>
          <option value="hard">hard</option>
        </select>
      </label>
      <br>
      <br>
      <button ng-click='getRandom()'>Skip --></button>
    </div>
    <div class="col col-md-8" id="solveSpace">
      <div class='challengePrompt'>
        <h3>{{challengeData.title}}</h3>
        <p>{{challengeData.prompt}}</p>
        <p class="challText">{{challengeData.text}}</p>
      </div>
      <form name="solveForm" ng-submit='checkSolution()'>
        <input id="regexAttempt" type="text" ng-model='attempt' ng-change="checkGex()" placeholder="/regexHERE/gi" title="Try /example/gi" >
        <button>Submit</button>
      </form>
      <br>
      <br>
      <p>Time Elapsed:
      <span class="minutes">{{ minutes }}</span> minutes
      <span class="seconds">{{ seconds }}</span> seconds
      </p>

    </div>
  </div>
</div>
